trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:

- task: NodeTool@0
  inputs:
    versionSpec: '12.x'
    checkLatest: true

- task: Npm@1
  inputs:
    command: 'install'


- task: Docker@2
  inputs:
    containerRegistry: 'reactapp'  
    command: 'login'
    arguments: '-u jharajltp -p Welcome@123'

- task: Docker@2
  inputs:
    containerRegistry: 'reactapp' 
    repository: 'jharajltp/reactapp'
    command: 'build'
    Dockerfile: '**/Dockerfile'
    tags: |
      $(Build.BuildId)
      latest

- task: Docker@2
  inputs:
    containerRegistry: 'reactapp'  
    repository: 'jharajltp/reactapp'
    command: 'push'
    tags: |
      $(Build.BuildId)
      latest

- task: Docker@2
  inputs:
    containerRegistry: 'reactapp'  
    command: 'logout'

- task: TerraformInstaller@1
  inputs:
    terraformVersion: 'latest'

- task: TerraformTaskV4@4
  inputs:
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: 'Free Trial (958de31c-6eda-4f41-a1b0-755df90f75f8)'
    workingDirectory: '**/deploy.tf'

- task: TerraformTaskV4@4
  inputs:
    provider: 'azurerm'
    command: 'validate'
    workingDirectory: '**/deploy.tf'
- task: TerraformTaskV4@4
  inputs:
    provider: 'azurerm'
    command: 'plan'
    echo : TerraformTaskV4@4
    workingDirectory: '**/deploy.tf'
