trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:

- task: NodeTool@0
  inputs:
    versionSpec: '12.x'
    checkLatest: true

- task: Npm@1
  inputs:
    command: 'install'


- task: Docker@2
  inputs:
    containerRegistry: 'reactapp'  
    command: 'login'
    arguments: '-u jharajltp -p Welcome@123'

- task: Docker@2
  inputs:
    containerRegistry: 'reactapp' 
    repository: 'jharajltp/reactapp'
    command: 'build'
    Dockerfile: '**/Dockerfile'
    tags: |
      $(Build.BuildId)
      latest

- task: Docker@2
  inputs:
    containerRegistry: 'reactapp'  
    repository: 'jharajltp/reactapp'
    command: 'push'
    tags: |
      $(Build.BuildId)
      latest

- task: Docker@2
  inputs:
    containerRegistry: 'reactapp'  
    command: 'logout'

- task: AzureRmWebAppDeployment@4
  inputs:
    ConnectionType: 'AzureRM'
    azureSubscription: 'Visual Studio Enterprise(ac592fa2-27a9-454e-b6cb-b3d3524435e7)'
    appType: 'webAppContainer'
    WebAppName: 'todo-react-frontend'
    DockerNamespace: 'jharajltp'
    DockerRepository: 'jharajltp/reactapp'
    DockerImageTag: 'latest'