trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:

- task: NodeTool@0
  inputs:
    versionSpec: '12.x'
    checkLatest: true

- task: Npm@1
  inputs:
    command: 'install'


- task: Docker@2
  inputs:
    containerRegistry: 'reactapp'  # Replace with your Docker registry service connection name
    command: 'login'
    arguments: '-u jharajltp -p Welcome@123'

- task: Docker@2
  inputs:
    containerRegistry: 'reactapp'  # Replace with your Docker registry service connection name
    repository: 'jharajltp/reactapp'
    command: 'build'
    Dockerfile: '**/Dockerfile'
    tags: |
      $(Build.BuildId)
      latest

- task: Docker@2
  inputs:
    containerRegistry: 'reactapp'  # Replace with your Docker registry service connection name
    repository: 'jharajltp/reactapp'
    command: 'push'
    tags: |
      $(Build.BuildId)
      latest

- task: Docker@2
  inputs:
    containerRegistry: 'reactapp'  # Replace with your Docker registry service connection name
    command: 'logout'
